name: "Building Packages"
on:
  pull_request:
  push:
    branches:
      - master
      - "releases/*"

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Testing Myself
        uses: ./
        id: package-version
        with:
          method: "package.json"
